<!doctype html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth2 Login</title>
</head>
<body>
    <form action="{{ path('security.login_oauth.auth_login') }}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="{{ redirect_uri }}" />

        <div>
            <label for="password">Password</label>
            <input type="password" name="_password" id="password">
        </div>

        {% if last_error != null %}
            <div>
                <span style="color: red;">{{ last_error.message }}</span>
            </div>
        {% endif %}

        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>
