{% extends 'base.html.twig' %}

{% block title 'Profile' %}

{% block body %}
    {{ app.flashes|json_encode }}

    <ul>
        <li>
            <h3>Username</h3>
            <p>{{ user.username }}</p>
        </li>
        <li>
            <h3>Email</h3>
            <p>{{ user.email }}</p>
        </li>
        <li>
            <h3>Roles</h3>
            <p>{{ user.roles|join(', ') }}</p>
        </li>
        <li>
            <h3>Google ID</h3>
            <p>{{ user.googleId }}</p>
        </li>
    </ul>

    {% if user.googleId is null %}
        <a href="{{ path('security.google_link') }}">Link Google account</a>
    {% else %}
        <a href="{{ path('security.google_unlink') }}">Unlink Google account</a>
    {% endif %}

    <div>
        <h3>Password reset</h3>

        {{ form(password_reset_form) }}
    </div>

    <div>
        <h3>Email verification</h3>

        {% if user.hasRole('ROLE_USER_VERIFIED') == false %}
            <a href="{{ path('email_verification.show_form') }}">Verify your email</a>
        {% else %}
            <p>Email verified!</p>
        {% endif %}
    </div>
{% endblock %}
